.navbar{
    background-color: rgb(170, 7, 102);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.link{
    color: white;
    padding-left: 50px;  
    padding-right: 50px;  
}

.submitbutton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color:green;
    font-size: medium;
    border-radius: 10px;
}

.resetbutton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
    background-color:red;
    font-size: medium;
    border-radius: 10px;
}

.label{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.field{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

.form{
    margin-top: 100px;
    margin-left: 500px;

}

.fieldValidation{
    color: red;
    margin-left: 25px;
}

.user{
    margin-left: 500px;
    color: white;
}
